parameters:
    ignoreErrors:
        - identifier: argument.type
        - identifier: ternary.shortNotAllowed
        - identifier: booleanAnd.leftNotBoolean
        - identifier: booleanNot.exprNotBoolean
        - identifier: if.condNotBoolean
        - identifier: ternary.condNotBoolean
        - identifier: empty.notAllowed
        - identifier: staticMethod.alreadyNarrowedType
        - identifier: offsetAccess.nonOffsetAccessible
        - identifier: greaterOrEqual.alwaysTrue
        - identifier: smaller.alwaysTrue
        - identifier: classConstant.deprecated

    checkMissingCallableSignature: true
    checkMissingVarTagTypehint: true
    checkUninitializedProperties: true
    checkMissingOverrideMethodAttribute: true
    inferPrivatePropertyTypeFromConstructor: false
    reportUnmatchedIgnoredErrors: false

services:
    -
        class: SineMacula\CodingStandards\PHPStan\Collectors\StaticPropertyWriteCollector
        tags:
            - phpstan.collector
    -
        class: SineMacula\CodingStandards\PHPStan\Collectors\StaticPropertyDeclarationCollector
        tags:
            - phpstan.collector

rules:
    - SineMacula\CodingStandards\PHPStan\Rules\NoMutableStaticPropertyRule
    - SineMacula\CodingStandards\PHPStan\Rules\RequireReadonlyClassRule
